/* common css */

:root {
  scroll-behavior: smooth;
  --primary-color: #F15B22;
  --title-color: #151414;
  --text-color: #444343;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
}
p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.main-title {
  font-size: 65px;
}
.section-title {
  font-size: 40px;
}
.button {
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  border-radius: 5px;
}
.button-primary {
  color: #ffffff;
  background: var(--primary-color);
  transition: 0.5s;
}
.button-primary:hover {
  background: #cd4008;
}
.button-secondary {
  background: #ffffff;
  color: var(--primary-color);
}
section {
  padding: 60px 0;
}


/* Header css */
header {
  height: min(750px, 100vh);
  background-image: url("images/banner/banner1.png");
  background-size: cover;
  background-position: center;
}
header .container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
header .content-area {
  flex-basis: min(100%, 600px);
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

/* Main content area styles */
#main {
  padding: 120px 0;
}

/* failures section styles */
.failures .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.failures .image {
  flex-basis: min(100%, 500px);
}
.failures .content {
  flex-basis: min(100%, 550px);
  padding-right: 130px;
}
.failures .content h2 {
  margin-bottom: 20px;
}
.failures .content .list {
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
  color: var(--text-color);
  line-height: 1.6;
}
.failures .list li {
  padding-left: 30px;
  background-image: url("images/check.png");
  background-repeat: no-repeat;
  background-position-y: center;
  margin-bottom: 5px;
}
/* My plans section styles */
#my-plans {
  text-align: center;
}
#my-plans .plans {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.plan .title {
  font-weight: 700;
  font-size: 30px;
  margin: 10px 0;
}
.plan .description {
  font-size: 24px;
}

/* Footer Banner section */
.footer-banner .banner {
  padding: 60px;
  background-image: linear-gradient(90deg, var(--primary-color), rgba(0, 0, 0, 0)), url("images/watch.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}
.footer-banner .content {
  width: min(100%, 500px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer-banner .content h2 {
  color: #ffffff;
}

/* Footer styles */
footer {
  padding: 120px 0;
  background: var(--title-color);
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .column.one {
  flex-basis: min(100%, 350px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .column.one h4 {
  font-size: 45px;
  color: #ffffff
}
footer .column.one p {
  color: #ffffff;
}
.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
footer .column.two {
  flex-basis: min(100%, 300px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .column.two h4 {
  font-size: 25px;
  color: #ffffff
}
footer input:not(input[type="submit"]) {
  width: 100%;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 16px;
}
footer input[type="submit"] {
  border: none;
  cursor: pointer;
}
footer input:invalid {
  outline-color: #ff0000;
}
footer input::placeholder {
  color: #ffffff;
}