/* Main template */
.main-template {
  text-align: center;
}
.main-template header {
  background: #f7f7f7;
  padding: 40px 0;
}
.main-template main {
  min-height: 70vh;
  padding: 60px 0;
}

.templates {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
}
.templates .template a {
  display: block;
  width: 300px;
  aspect-ratio: 2/3;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-size: cover;
  background-position-y: top;
  transition: 1s;
  margin-bottom: 20px;
}
.templates .template a:hover {
  background-position-y: bottom;
}

#home1 a {
  background-image: url("../images/home1.jpg");
}
#home2 a {
  background-image: url("../images/home2.jpg");
}
#home3 a {
  background-image: url("../images/home3.jpg");
}

footer {
  padding: 30px 0;
}